.pagination a {
    color: #9EABB3;
    transition: all 0.2s ease;
}


.page-number {
    display: inline-block;
    padding: 2px 0;
    min-width: 100px;
}


/* The main wrapper for our pagination links */
.pagination {
    position: relative;
    width: 80%;
    max-width: 700px;
    margin: 4rem auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    color: #9EABB3;
    text-align: center;
}


/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {

}

.older-posts {
    right: 0;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
}

.newer-posts {
    left: 0;
}


.older-posts, .newer-posts {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    height: 38px;
    padding: 0 15px 0 10px;
    border: transparent 1px solid;
    color: #9EABB3;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 35px;
    background: rgba(0,0,0,0.1);
    transition: all ease 0.3s;
    border-radius: 3px;
    position: absolute;
    display: inline-block;
    padding: 0 15px;
    border: #bbc2c5 1px solid;
    text-decoration: none;
    transition: border ease 0.3s;

}

.older-posts:hover,
.newer-posts:hover {
    color: #889093;
    border-color: #98a0a4;
}


.older-posts,.older-posts:hover,.newer-posts,.newer-posts:hover {
    background: none;
}