  
<footer class="site-footer">
  <!--a class="subscribe icon-feed" href="rss.xml"><span class="tooltip">Subscribe!</span></a-->
  <div class="inner">
    <section class="copyright">Copyright and smth like that by <a href="/author/amorgunov">Alexander Morgunov</a> ©  • All rights reserved.</section>
  </div>
</footer>




<!--p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p-->

<!--

  <nav role="navigation" class="site__navbar">
    <div class="navbar__menu">
      <a class="navbar__menu_item" href="/"><i class="fa fa-home"></i> Главная</a>
      <a class="navbar__menu_item" href="/type/exercise"><i class="fa fa-code"></i> Задачи</a>
      <a class="navbar__menu_item" href="/type/article"><i class="fa fa-file-text-o"></i> Статьи</a>
      <a class="navbar__menu_item" href="/type/advice"><i class="fa fa-cogs"></i> Советы</a>
    </div>
    
    <div class="navbar__menu navbar__menu--right">
      {% include social-links.html %}
    </div>
  </nav>

<footer class="site__footer">
  
  <div class="site__footer_col site__footer_col--small">
    <a class="logo" href="/">
      <img src="{{site.url}}/images/logo-raccoon.svg" alt="logo">
    </a>
  </div>

  <div class="site__footer_col">
    <h3 class="site__footer_title">Теги для быстрого поиска</h3>
    <div class="tags-cloud">
      <a href="/tag/javascript" class="tags-cloud__tag tags-cloud__tag--margined">
        <span class="tag__icon"><i class="fa fa-tag"></i></span>
        <span class="tag__text">javascript</span>
      </a>

      <a href="/tag/oop" class="tags-cloud__tag tags-cloud__tag--margined">
        <span class="tag__icon"><i class="fa fa-tag"></i></span>
        <span class="tag__text">oop</span>
      </a> 

      <a href="/tag/es6" class="tags-cloud__tag tags-cloud__tag--margined">
        <span class="tag__icon"><i class="fa fa-tag"></i></span>
        <span class="tag__text">es6</span>
      </a> 

      <a href="/tag/css" class="tags-cloud__tag tags-cloud__tag--margined">
        <span class="tag__icon"><i class="fa fa-tag"></i></span>
        <span class="tag__text">css</span>
      </a> 

      <a href="/type/article" class="tags-cloud__tag tags-cloud__tag--margined">
        <span class="tag__icon"><i class="fa fa-bookmark"></i></span>
        <span class="tag__text">article</span>
      </a> 

      <a href="/type/exercise" class="tags-cloud__tag tags-cloud__tag--margined">
        <span class="tag__icon"><i class="fa fa-bookmark"></i></span>
        <span class="tag__text">exercise</span>
      </a> 

      <a href="/type/advice" class="tags-cloud__tag tags-cloud__tag--margined">
        <span class="tag__icon"><i class="fa fa-bookmark"></i></span>
        <span class="tag__text">advice</span>
      </a> 

      <a href="/type/digest" class="tags-cloud__tag tags-cloud__tag--margined">
        <span class="tag__icon"><i class="fa fa-bookmark"></i></span>
        <span class="tag__text">digest</span>
      </a> 

    </div>
  </div>

  <div class="site__footer_col">
    <h3 class="site__footer_title">О проекте</h3>
    <p>Сайт создан с помощью генератора статических сайтов <a href="https://jekyllrb.com/">Jekyll</a>. Весь код размешён на <a href="https://github.com/rtivital/jsraccoon/tree/gh-pages">Github</a>.</p>
    {% include social-links.html %}
  </div>
</footer>
-->
