{% if paginator.total_pages > 1 %}
<nav class="pagination" role="navigation">

    {% if paginator.next_page %}    
    <a class="older-posts" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Раньше →</a>
    {% endif %}    

    <span class="page-number">Page {{paginator.page}} of {{paginator.total_pages}}</span>

    {% if paginator.previous_page %}    
    <a class="newer-posts" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">← Позже</a>    
    {% endif %}    
</nav>
{% endif %}

<!--
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <li class="pagination__item pagination__current">{{ page }}</li>
      {% elsif page == 1 %}
        <li class="pagination__item"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
      {% else %}
        <li class="pagination__item"><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}
-->