<!DOCTYPE html>
<html>

  {% include head.html %}

<body>
  
  {% include header.html %}

  <main class="page-content">
    <ul class="post post-list">
      <!--{% for post in site.posts %}
        <li class="post-item">
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2 class="post-item__title">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
          </h2>
        </li>
      {% endfor %}-->

      {% for post in paginator.posts %}
        <li class="post-item">
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2 class="post-item__title">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>

    {% include paginator.html %}

    &#123;% include subscribe-container %&#125;
  </main>

  {% include footer.html %}
</body>
</html>
