---
layout: posts
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <span class="post-meta">
      Опубликовал 
      <a id="blog-logo" href="/author/{{ page.author }}"><span class="blog-title">{{ page.author_name }}</span></a>
      <time datetime="2015-06-08">{% include date.html %}</time>
    </span>
    <h1 class="post-title">{{ page.title }}</h1>
    {{ page.slogan }}
  </header>

  <section class="post-content">
    {{ content }}

    {% include tags-cloud.html %}

  </section>

  <footer class="post-footer">
    <!--section class="author">
      <header><a href=""><img class="profile" src="/assets/images/profile.png" alt=""></a></header>
      <article>
        <h4> {{ page.author_name }} </h4>
        <p>{{ page.author_desc }}</p>
      </article>
    </section-->

    &#123;% include share-container %&#125;
    {% include page-navigation.html %}
    {% include comments.html %}
  </footer>
</article>


<!--
{% include article__icon.html %}
{% include article__type.html %}
{% include tags-cloud.html %}
<a href="/type/{{ page.type }}" class="post__meta_item">{% include article__icon.html %} {% include article__type.html %}</a>
-->